<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryApp.book.home.title">Books</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book" [routerLink]="['/book/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryApp.book.home.createLabel">
            Create new Book
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="books">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isbn"><span jhiTranslate="libraryApp.book.isbn">Isbn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="libraryApp.book.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publishYear"><span jhiTranslate="libraryApp.book.publishYear">Publish Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="copies"><span jhiTranslate="libraryApp.book.copies">Copies</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cover"><span jhiTranslate="libraryApp.book.cover">Cover</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publisher.name"><span jhiTranslate="libraryApp.book.publisher">Publisher</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of books ;trackBy: trackId">
                <td><a [routerLink]="['/book', book.id, 'view' ]">{{book.id}}</a></td>
                <td>{{book.isbn}}</td>
                <td>{{book.name}}</td>
                <td>{{book.publishYear}}</td>
                <td>{{book.copies}}</td>
                <td>
                    <a *ngIf="book.cover" (click)="openFile(book.coverContentType, book.cover)">
                        <img [src]="'data:' + book.coverContentType + ';base64,' + book.cover" style="max-height: 30px;" alt="book image"/>
                    </a>
                    <span *ngIf="book.cover">{{book.coverContentType}}, {{byteSize(book.cover)}}</span>
                </td>
                <td>
                    <div *ngIf="book.publisher">
                        <a [routerLink]="['../publisher', book.publisher?.id, 'view' ]" >{{book.publisher?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/book', book.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/book', book.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'book', { outlets: { popup: book.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="books && books.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
